<p id="notice"><%= notice %></p>

<h1>工作列表</h1>

<% @jobs.each do |job| %>
  <%= link_to job do %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <div class="fw-bold"><%= job.name %></div>
          <div class="d-flex flex-row">
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
